* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
}

.navbar{
  height: 50px;
  text-align: center;
  border-bottom: 1px solid;
  background-color: black;
  color: white;
}

body{
  font-family: sans-serif;
  font-size: 14px;
}

.container{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.top-container{
  border-bottom: 1px solid;
  width: 465px;
  margin-bottom: 5px;
}

.main-container{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.comment-container{
  display: flex;
  flex-direction: row;
}

.profile-pic{
  height: 30px;
  width: 30px;
  border: 1px solid;
  border-radius: 50%;
  margin-right: 5px;
}

.triangle{
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  
  border-right:10px solid #DDF4FF;  
}

.text-and-info-container{
  display: flex;
  flex-direction: column;
}

.user-info-container{
  display: flex;
  flex-direction: row;
  
  height: 30px;
  background-color: #DDF4FF;
  border-top-right-radius: 5px;
}

.user-info-container h5{
  margin-left: 10px;
  margin-top: 8px;
  background-color: #DDF4FF;
}

.options{
  margin-left: auto;
  background-color: #DDF4FF;
}

.del,
.rply{
  cursor: pointer;
  border-style: ridge;
}
.text-container {
  padding: 5px;
  height: 75px;
  width: 465px;
  background-color: #ffffff;
  border-end-start-radius: 5px;
  border-end-end-radius: 5px;
  margin: 0px 0px 10px;
  word-break: break-all;
  border: 1px solid;
}

.comment-flexbox{
  display: flex;
  flex-direction: row;
}

.comment-outerbox{
  border-top: 1px solid;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

#user-profile-pic{
  margin-top: 5px;
}

.comment-tabs{
  display: flex;
  flex-direction: row;
}

.input-box {
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
  height: 75px;
  width: 465px;
  background-color: #ffffff;
  border-style: ridge;
  border-radius: 5px;
}

.comment-button {
  height: 24px;
  width: 70px;
  background-color: #07c78d;
  color: white;
  font-size: 12px;
  margin-top: 10px;
  margin-left: auto; 
  margin-right: 0;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
}

.add-comment{
  height: 30px;
}

#submitButton:disabled{
  opacity: 30%;
}